client/node_modules/
server/node_modules/
PORT = "5000"
CONNECTION_URL = "mongodb+srv://nitin45344:nitin12@cluster0.trozsd9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
JSON_SECRET = nitin
